<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507808446603-f1ttagu72j4ddg2384j46uicon6fc1gc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507808446603-f1ttagu72j4ddg2384j46uicon6fc1gc</string>
	<key>API_KEY</key>
	<string>AIzaSyC3KDECrIdZbsRqdL4fcwm3x8PQdI_lUJE</string>
	<key>GCM_SENDER_ID</key>
	<string>507808446603</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todo</string>
	<key>PROJECT_ID</key>
	<string>flutter-todo-app-df1c3</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-todo-app-df1c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507808446603:ios:34c843af34dc3357433c8e</string>
</dict>
</plist>